
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Car</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Update a Car:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{'/updateCar/'+${carForm.id}}"
      th:object="${carForm}" method="POST">
    CarMaker:
    <input type="text" th:field="*{carMaker}" th:value="${carForm.carMaker}" />
    <br/>
    CarModel :
    <input type="text" th:field="*{carModel}"  th:value="${carForm.carModel}"/>
    <br/>

    <input type="submit" value="Update" />

</form>


</body>
</html>